<% if !@root_events.blank? %>

  <p>
    <%= I18n.t('mailers.activity_tracking.statements.new_questions',
               :count => @root_events.size,
               :locale => @language.code) %>
    <%= I18n.t('mailers.activity_tracking.statements.new_tags',
               :locale => @language.code) %>
    <%= @question_tag_counts.to_a.map{|tag, count|
        I18n.t('mailers.activity_tracking.statements.tag_link',
               :tag => link_to(tag, discuss_search_url(:search_terms => tag,
                                                                :locale => @language.code)),
               :count => count,
               :locale => @language.code)}.join(", ") %>
  </p>

  <ul style="padding-left: 20px;">
    <% @root_events.each do |event| %>
      <% document = get_document_in_preferred_language(event["documents"], @preferred_language_ids) %>
      <%= inline_statement_link(document, event) %>
    <% end %>
  </ul>

<% end %>